@import "tailwindcss";
@plugin "daisyui";

/* Hide scrollbar globally */
* {
  -ms-overflow-style: none; /* IE + old Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
